.header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 112px;
  background-color: var(--second-color);

  font-size: 20px;
}

.headerButtons {
  margin-left: 27px;
  min-height: 58px;
  min-width: 186px;

  border-style: none;
  border-radius: 29px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: var(--bg-color);
  background: var(--main-color);
}
